/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fd4a35;
  --ifm-color-primary-dark: #fd2f17;
  --ifm-color-primary-darker: #fd2108;
  --ifm-color-primary-darkest: #d41802;
  --ifm-color-primary-light: #fd6553;
  --ifm-color-primary-lighter: #fd7362;
  --ifm-color-primary-lightest: #fe9b90;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #fd4a35;
  --ifm-color-primary-dark: #fd2f17;
  --ifm-color-primary-darker: #fd2108;
  --ifm-color-primary-darkest: #d41802;
  --ifm-color-primary-light: #fd6553;
  --ifm-color-primary-lighter: #fd7362;
  --ifm-color-primary-lightest: #fe9b90;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
